<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Clogin</servlet-name>
        <servlet-class>controller.login.Clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cbusqueda</servlet-name>
        <servlet-class>controller.busqueda.Cbusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Canexopc</servlet-name>
        <servlet-class>controller.anexopc.Canexopc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Canexopn</servlet-name>
        <servlet-class>controller.anexopn.Canexopn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ccrearusuario</servlet-name>
        <servlet-class>controller.crearusuario.Ccrearusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crecuperarcontra</servlet-name>
        <servlet-class>controller.recuperarcontra.Crecuperarcontra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ccambiarcontra</servlet-name>
        <servlet-class>controller.cambiarcontra.Ccambiarcontra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crequisicionesp</servlet-name>
        <servlet-class>controller.requisicionesp.Crequisicionesp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cpermisos</servlet-name>
        <servlet-class>controller.permisos.Cpermisos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cboton</servlet-name>
        <servlet-class>controller.busqueda.Cboton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>csalir</servlet-name>
        <servlet-class>controller.salir.csalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CbusquedaEspe</servlet-name>
        <servlet-class>controller.busqueda.CbusquedaEspe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cdetalle</servlet-name>
        <servlet-class>controller.busqueda.Cdetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CcargarPagina</servlet-name>
        <servlet-class>controller.busqueda.CcargarPagina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Clogin</servlet-name>
        <url-pattern>/clogin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/Login/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Cbusqueda</servlet-name>
        <url-pattern>/cbusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Canexopc</servlet-name>
        <url-pattern>/canexopc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Canexopn</servlet-name>
        <url-pattern>/canexopn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ccrearusuario</servlet-name>
        <url-pattern>/ccrearusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crecuperarcontra</servlet-name>
        <url-pattern>/crecuperarcontra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ccambiarcontra</servlet-name>
        <url-pattern>/ccambiarcontra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crequisicionesp</servlet-name>
        <url-pattern>/crequisicionesp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cpermisos</servlet-name>
        <url-pattern>/cpermisos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cboton</servlet-name>
        <url-pattern>/cboton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>csalir</servlet-name>
        <url-pattern>/csalir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CbusquedaEspe</servlet-name>
        <url-pattern>/CbusquedaEspe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cdetalle</servlet-name>
        <url-pattern>/Cdetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CcargarPagina</servlet-name>
        <url-pattern>/CcargarPagina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
